#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.nav-element {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 1rem 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.main-header {
  font-size: 2rem;
  color: rgb(213, 118, 118);
}

.links {
  position: absolute;
  right: 1rem;
}

.account-link {
  background-color: blue;
  color: white;
  border: 1px solid rgb(234, 0, 0);
  border-radius: 0.5rem;
  margin: 0 0.7rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border 0.2s ease-in-out;
}

.account-link:hover {
  background-color:green;
  color: rgb(8, 0, 255);
  border: 1px double green;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border 0.2s ease-in-out;
}

body {
  margin-top: 5rem;
}